.page-header__banner--events {
  background-image: url('../images/events-banner.png');
  min-height: 372px;

  @include max-w(500px) {
    min-height: 270px;
  }

  @include max-w(320px) {
    background-image: url('../images/events-banner-mobile.png');
    min-height: 200px;
  }
}

.page-header__logo--events {
  margin-top: 35px;

  @include max-w(768px) {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
  }

  @include max-w(320px) {
    background-image: url('../images/logo-big-mobile.png');
    width: 183px;
    height: 110px;
  }
}

.events {
  &__title {
    @include fluid-font(16px, 20px, 320px, 1920px);
    margin: 0;
    margin-top: 100px;
    color: #333333;
    text-transform: uppercase;
    text-align: center;

    @include max-w(700px) {
      margin-top: 50px;
    }
  }

  &__list {
    display: flex;
    margin-top: 50px;
    margin-bottom: 65px;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;

    &::before {
      position: absolute;
      content: '';
      top: -5px;
      left: -5px;
      right: -5px;
      height: 2px;
      background-color: #666666;
    }

    @include max-w(700px) {
      margin-top: 35px;
      margin-bottom: 55px;
    }
  }

  &__item {
    padding-top: 30px;
    padding-bottom: 50px;
    border-top: 1px solid #666666;

    @include max-w(700px) {
      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__sub-list {
    display: flex;
    flex-direction: row;
  }

  &__sub-item:first-child {
    margin-right: 15px;
  }

  &__sub-date {
    @include fluid-font(18px, 20px, 320px, 1920px);
    display: block;
    padding: 14px 0;
    width: 75px;
    height: 75px;
    color: #ffffff;
    text-align: center;
    background-color: #781241;

    @include max-w(700px) {
      padding: 8px 0;
      width: 59px;
      height: 59px;
    }
  }

  &__sub-title {
    @include fluid-font(14px, 16px, 320px, 1920px);
    margin: 0;
    margin-top: -1px;
    text-transform: uppercase;
    color: #333333;
    line-height: 16px;

    @include max-w(700px) {
      min-height: 72px;
    }
  }

  &__sub-text {
    @include fluid-font(14px, 20px, 320px, 1920px);
    margin: 0;
    margin-top: 12px;
    font-family: $font-family--garamond;
    line-height: 30px;

    @include max-w(700px) {
      margin: 0;
      margin-left: -72px;
      line-height: 24px;
    }
  }

  &__sub-button {
    display: none;

    @include max-w(700px) {
      display: block;
      margin-top: 26px;
      margin-left: -72px;
      padding: 0;
      padding-left: 17px;
      position: relative;
      font-size: 15px;
      color: #781241;
      text-transform: uppercase;
      float: left;
      background-color: transparent;
      border: none;
      cursor: pointer;

      svg {
        position: absolute;
        top: 2px;
        left: 0;
      }

      &:hover {
        color: #333333;

        svg {
          stroke: #333333;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__sub-link {
    display: block;
    margin-top: 20px;
    padding-right: 35px;
    position: relative;
    font-size: 15px;
    color: #781241;
    text-transform: uppercase;
    float: right;

    &:hover {
      color: #333333;
    }

    &:hover path {
      fill: #333333;
    }

    @include max-w(700px) {
      margin-top: 25px;
      padding-right: 40px;
    }
  }

  &__sub-icon {
    position: absolute;
    top: 2px;
    right: 0;

    path {
      fill: #781241;
    }
  }

  &__sidebar {
    margin-top: 50px;
    margin-left: 70px;
    position: relative;
    float: right;
    border-top: 1px solid #666666;

    &::before {
      position: absolute;
      content: '';
      top: -6px;
      left: -5px;
      right: -5px;
      height: 2px;
      background-color: #666666;
    }

    @include max-w(700px) {
      display: none;
    }
  }

  &__calendar {
    margin-top: 30px;
    width: 290px;
    height: 345px;
    background-color: #781241;
  }
}
