.page-header__wrapper--events {
  background-image: url('../images/events-banner.png');
  min-height: 372px;
}

.page-header__banner--events {
  margin-top: 35px;
}

.events {
  &__title {
    margin: 0;
    margin-top: 100px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
