.history {
  padding-top: 100px;

  @include max-w(320px) {
    padding-top: 50px;
  }

  &__content {
    text-align: center;
  }

  &__title {
    @include fluid-font(16px, 20px, 320px, 1920px);
    margin: 0;
    font-size: 20px;
    color: #333333;
    text-transform: uppercase;
  }

  &__text {
    @include fluid-font(14px, 20px, 320px, 1920px);
    margin: 0;
    margin-top: 20px;
    font-family: $font-family--garamond;

    @include max-w(895px) {
      br {
        display: none;
      }
    }
  }
}

.gallery {
  &__list {
    display: flex;
    margin: 0 -15px;
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    padding: 0 15px;
    width: 33.3%;

    @include max-w(320px) {
      margin-bottom: 15px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.subscribe {
  margin-top: 100px;

  @include max-w(320px) {
    margin-top: 55px;
  }

  &__form {
    display: flex;
    margin: 0 auto;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 57%;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;

    &::before,
    &::after {
      position: absolute;
      content: '';
      top: -5px;
      left: -10px;
      right: -10px;
      height: 2px;
      background-color: #666666;
    }

    &::after {
      top: auto;
      bottom: -5px;
    }

    @include max-w(460px) {
      width: 80%;
    }

    @include max-w(320px) {
      width: 96%;

      &::before,
      &::after {
        left: -5px;
        right: -5px;
      }
    }
  }

  &__form--focus {
    &::before,
    &::after {
      background-color: #781241;
    }
  }

  &__form--not-valid {
    &::before,
    &::after {
      background-color: #ff0000;
    }
  }

  &__input {
    @include fluid-font(16px, 20px, 320px, 1920px);
    position: relative;
    font-family: $font-family--garamond;
    color: #333333;
    border: none;

    &:invalid {
      box-shadow: none;
    }
  }

  &__button {
    @include fluid-font(12px, 15px, 320px, 1920px);
    position: relative;
    width: 42%;
    font-size: 15px;
    color: #781241;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      color: #333333;
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }

    &:hover path {
      fill: #333333;
    }

    &::before {
      position: absolute;
      content: '';
      top: -5px;
      left: 0;
      bottom: -5px;
      width: 1px;
      background-color: #666666;
    }

    @include max-w(320px) {
      width: 35%;
    }
  }

  &__icon {
    position: absolute;
    top: 18px;
    right: 0;

    @include max-w(320px) {
      top: 20px;
      width: 6px;
      height: 10px;
    }
  }
}

input[type="email"].subscribe__input {
  padding: 5px 0;
}

.meet {
  margin-top: 90px;
  margin-bottom: 105px;

  @include max-w(320px) {
    margin: 0;
  }

  &__wrapper {
    padding-top: 100px;
    min-height: 430px;
    background-image: url('../images/bottom-banner.png');
    background-repeat: no-repeat;
    background-position: center;

    @include max-w(320px) {
      margin: 0 -15px;
      margin-top: 55px;
      padding-top: 45px;
      background-image: url('../images/bottom-banner-mobile.png');
      background-position: top center;
      min-height: 550px;
    }
  }

  &__content {
    margin: 0 auto;
    padding-top: 30px;
    width: 370px;
    height: 215px;
    border: 2px solid #781241;
    outline: 10px solid #ffffff;
    background-color: #ffffff;
    text-align: center;

    @include max-w(500px) {
      padding-top: 15px;
      width: 260px;
      height: 105px;
    }

    @include max-w(320px) {
      padding: 15px;
      width: 275px;
      height: 443px;
      outline: 15px solid #ffffff;
    }
  }

  &__title {
    @include fluid-font(16px, 20px, 320px, 1920px);
    margin: 0;
    color: #333333;
    text-transform: uppercase;
  }

  &__text {
    @include fluid-font(14px, 20px, 320px, 1920px);
    margin: 0;
    margin-top: 30px;
    font-family: $font-family--garamond;
    font-style: italic;

    &--mobile {
      display: none;
    }

    @include max-w(500px) {
      margin-top: 12px;
    }

    @include max-w(440px) {
      br {
        display: none;
      }
    }

    @include max-w(320px) {
      margin-top: 12px;
      line-height: 22px;
      font-style: normal;

      &--desktop {
        display: none;
      }

      &--mobile {
        display: block;
      }
    }
  }
}
