.page-header__wrapper--media {
  background-image: url('../images/media-banner.png');
  min-height: 372px;
}

.page-header__banner--media {
  margin-top: 35px;
}

.media {
  &__title {
    margin: 0;
    margin-top: 100px;
    font-size: 20px;
    color: #333333;
    text-align: center;
  }

  &__list {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
  }

  &__item {
    position: relative;
    width: 48%;
    border-top: 1px solid #666666;

    .media__title {
      margin: 0;
      margin-top: 20px;
      font-size: 20px;
      color: #333333;
      text-transform: uppercase;
      text-align: left;
    }

    &::before {
      position: absolute;
      content: '';
      top: -5px;
      left: -5px;
      right: -5px;
      height: 2px;
      background-color: #666666;
    }
  }

  &__date {
    display: block;
    margin-top: 30px;
    font-family: $font-family--garamond;
    font-size: 16px;
  }

  &__text {
    margin: 0;
    margin-top: 30px;
    font-family: $font-family--garamond;
  }

  &__link {
    margin-top: 30px;
    margin-bottom: 50px;
    padding-right: 48px;
    position: relative;
    font-size: 15px;
    color: #781241;
    text-transform: uppercase;
    float: right;

    &:hover {
      color: #333333;
    }

    &:hover path {
      fill: #333333;
    }
  }

  &__icon {
    position: absolute;
    top: 2px;
    right: 0;

    path {
      fill: #781241;
    }
  }

  &__photo {
    display: block;
    margin-top: 30px;
    width: 100%;
    height: auto;
  }
}
