.page-footer {
	position: relative;

	@include max-w(320px) {
		margin-top: 55px;
	}

	&__list {
		display: flex;
		position: relative;
		margin: 0 auto;
		flex-direction: row;
		flex-wrap: wrap;
		border-top: 1px solid #666666;
		border-bottom: 1px solid #666666;
		width: 98%;

		&::before,
		&::after {
			position: absolute;
			content: '';
			top: -5px;
			left: -10px;
			right: -10px;
			height: 2px;
			background-color: #666666;
		}

		&::after {
			top: auto;
			bottom: -5px;
		}

		@include max-w(320px) {
			&::before,
			&::after {
				left: -5px;
				right: -5px;
			}
		}

		@include max-w(650px) {
			flex-direction: column;
		}
	}

	&__item {
		padding-bottom: 30px;
		position: relative;
		width: 33.3%;
		text-align: center;

		&::before {
			position: absolute;
			content: '';
			top: -5px;
			right: 0;
			bottom: -5px;
			width: 1px;
			background-color: #666666;
		}

		&:last-child::before {
			display: none;
		}

		@include max-w(650px) {
			width: auto;
			border-bottom: 1px solid #666666;

			&:last-child {
				border-bottom: none;
			}

			&::before {
				display: none;
			}
		}
	}

	&__title {
		@include fluid-font(16px, 18px, 320px, 1920px)
		margin: 0;
		margin-top: 40px;
		margin-bottom: 20px;
		color: #333333;
		text-transform: uppercase;
	}

	&__text,
	&__link {
		margin: 0;
		padding: 0;
		font-family: $font-family--garamond;
		font-style: italic;
		font-size: 16px;
	}

	&__link {
		display: block;
	}

	&__social-list {
		display: flex;
		margin: 0 auto;
		margin-top: -5px;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100px;
	}

	&__social-link {
		display: block;

		&:hover .page-footer__social-icon path {
			fill: #781241;
		}
	}

	&__social-icon {
		path {
			fill: #333333;
			transition: 0.5s;
		}
	}

	&__logo {
		display: block;
		margin: 0 auto;
		margin-top: 30px;
	}

	&__copyright {
		margin: 0;
		margin-top: 25px;
		margin-bottom: 35px;
		font-family: $font-family--garamond;
		font-style: italic;
		font-size: 16px;
		text-align: center;

		&--mobile {
			display: none;
		}

		@include max-w(320px) {
			&--desktop {
				display: none;
			}

			&--mobile {
				display: block;
			}
		}
	}
}
