.page-footer {
	margin-top: 100px;

	position: relative;

	&__list {
		@include clearlist;
		display: flex;

		position: relative;

		margin: 0 auto;

		flex-direction: row;
		flex-wrap: wrap;

		border-top: 1px solid #666666;
		border-bottom: 1px solid #666666;

		width: 98%;

		&::before,
		&::after {
			position: absolute;
			content: '';

			top: -5px;
			left: -10px;
			right: -10px;

			height: 2px;

			background-color: #666666;
		}

		&::after {
			top: auto;
			bottom: -5px;
		}
	}

	&__list > li {
		padding-bottom: 15px;

		position: relative;

		flex-basis: 32%;

		text-align: center;

		&::before {
			position: absolute;
			content: '';

			top: -5px;
			right: 0;
			bottom: -5px;

			width: 1px;

			background-color: #666666;
		}

		&:last-child::before {
			display: none;
		}
	}

	&__list h4 {
		margin: 0;
		margin-top: 40px;
		margin-bottom: 20px;

		text-transform: uppercase;
	}

	&__list p,
	&__list a {
		margin: 0;
		padding: 0;

		font-family: 'GaramondPremrPro';
		font-style: italic;
		font-size: 16px;
	}

	&__social-list {
		@include clearlist;
		display: flex;

		margin: 0 auto;

		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		width: 100px;
	}

	&__social-link:hover svg {
		fill: red;
	}

	&__logo {
		display: block;

		margin: 0 auto;
		margin-top: 30px;
	}

	&__copyright {
		margin: 0;
		margin-top: 25px;
		margin-bottom: 35px;

		font-family: 'GaramondPremrPro';
		font-style: italic;
		font-size: 16px;

		text-align: center;
	}
}
