.page-header {
  position: relative;

  &__list {
    @include clearlist;
    display: flex;
    margin: 0 auto;
    padding-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 450px;
    text-transform: uppercase;
  }

  &__link {
    position: relative;
    color: $menu-link-color;

    &:hover {
      color: $menu-link-color--hover;

      @include max-w($screen-xl) {
        color: red;
      }
    }

    &:hover::before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #ffffff;
    }
  }

  &__wrapper {
    background-image: url('../images/main-banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 721px;
  }

  &__banner {
    margin: 0 auto;
    margin-top: 180px;
    padding: 40px 60px;
    background-color: #ffffff;
    border: 2px solid #781241;
    outline: 10px solid #ffffff;
    width: 390px;
  }
}
