.page-header {
  position: relative;

  &__menu {
    position: relative;
    z-index: 1;

    &--open {
      .page-header__toggle {

        span {
          width: 25px;

          &:first-child {
            transform: rotate(-45deg) translate(-6px, 0);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:last-child {
            transform: rotate(45deg) translate(-6px, 0);
          }
        }
      }

      .page-header__list {
        opacity: 1;
      }
    }
  }

  &__toggle {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    left: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 3;

    &:hover,
    &:focus {
      outline: none;
    }

    @include max-w(320px) {
      display: block;
    }

    span {
      display: block;
      margin-bottom: 2px;
      width: 20px;
      height: 2px;
      background-color: #ffffff;
      transition: 0.5s;

      &:last-child {
        margin-bottom: none;
      }
    }
  }

  &__list {
    @include clearlist;
    @include fluid-font(16px, 20px, 320px, 1920px);
    display: flex;
    margin: 0 auto;
    padding-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 450px;
    text-transform: uppercase;
    transition: 0.5s all;

    @include max-w(320px) {
      margin: 0;
      padding-left: 15px;
      flex-direction: column;
      max-width: 130px;
      background-color: rgba(5, 5, 5, 0.9);
      opacity: 0;
    }

    li {
      @include max-w(320px) {
        margin-bottom: 15px;
        &:first-child {
          margin-top: 10px;
        }
      }
    }
  }

  &__link {
    position: relative;
    color: $menu-link-color;

    &:hover {
      color: #ffffff;
    }

    &:hover::before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #ffffff;
    }
  }

  &__banner {
    background-image: url('../images/main-banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 721px;

    @include max-w(320px) {
      background-image: url('../images/main-banner-mobile.png');
      min-height: 200px;
    }
  }

  &__logo {
    margin: 0 auto;
    margin-top: 180px;
    background-image: url('../images/logo-big.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 392px;
    height: 235px;

    @include max-w(320px) {
      position: absolute;
      top: -135px;
      left: 0;
      right: 0;
      background-image: url('../images/logo-big-mobile.png');
      width: 183px;
      height: 110px;
    }
  }
}
